@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap');


/*colors*/
:root {
    --primary: #162b3f;
    --secondary: #00f400;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--primary);
    color: white;
}
 
/* header stylings */
header {
    position: sticky;
    top: 0;
    left: 0;
    
    /* code to make content fade as it scrolls past the header */
    background-image: linear-gradient(to top, rgba(22, 43, 63, .1) 0%, rgba(22, 43, 63, 1) 95%);
}

.flex-container {
    display: flex;
    height: 100px;
    justify-content: space-around;
    padding: 18px 0;
    align-items: center;
}

nav li {
    list-style: none;
    padding-left: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}


/* hero section stylings */
.hero-section {
    height: 500px;
    text-align: center;
}

.hero-section h2 {
    font-family: 'Open-sans', sans-serif;
    margin-top: 300px;
}

section hr {
    width: 382px;
    margin: 0 auto;
}


/* what is mixing stylings */
.what-is-mixing {
    background-color: var(--secondary);
    color: black;
    height: 500px;
}

.mixing-heading {
    text-align: center;
    padding-top: 10px;
}

.mix-info p {
    width: 500px;
    margin-top: 250px;
    text-align: justify;
    line-height: 1.5em;
}