@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Judson&display=swap');

/*colors*/
:root {
    --primary: #162b3f;
    --secondary: #cfcfcf;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

#page-container {
    position: relative;
}

body {
    background-color: var(--primary);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
 
/* header stylings */
header {
    position: sticky;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, rgba(22, 43, 63, 0.6) 0%, rgba(22, 43, 63, 0.9) 100%);
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
    align-items: center;
}

.nav-flex-container {
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
    align-items: center;
}

nav li {
    list-style: none;
    padding: 15px;
    font-size: 1.3rem;
    font-weight: 500;
}

header a {
    color: white;
    text-decoration: none;
    border-bottom: none;
}

nav a:hover {
    border-bottom: 1px white solid;
}


/* hero section stylings */
.hero-section {
    height: 400px;
    text-align: center;
}

.hero-section h2 {
    margin-top: 200px;
}

section hr {
    width: 382px;
    margin: 0 auto;
}
.hero-section p {
    margin-top: 5px;
}


/* what is mixing stylings */
.what-is-mixing {
    background-color: var(--secondary);
    color: black;
    padding: 30px;
}

.mixing-heading {
    text-align: center;
    text-shadow: none;
    font-size: 2.25rem;
}

.flex-container-two {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.mix-info p {
    width: 500px;
    margin-right: 20px;
    text-align: justify;
    line-height: 2.2em;
}

.mix-info img {
    margin-left: 20px;
    width: 500px;
    border-radius: 30px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.learn-section {
    background-color: var(--primary);
    text-align: center;
    padding: 30px;
}

.learn-section h2 {
    text-align: center;
    text-shadow: none;
    font-size: 2.25rem;
}

.learn--buttons {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.btn {
    font-size: 2em;
    text-transform: uppercase;
    min-width: 330px;
    height: 330px;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-one {
    background-image: url(../images/anthony-roberts-82wJ10pX1Fw-unsplash.jpg);
    background-size: cover;
}

.btn-two {
    background-image: url(../images/pro-q-3-screenshot.jpg);
    background-size: 650px;
    background-position: center;
    margin-left: 70px;
    margin-right: 70px;
}

.btn-three {
    background-image: url(../images/caught-in-joy--bgmGy8f1p0-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn a:hover {
    border-bottom: 2px white solid;
}

footer {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 2em;
}

footer a {
    color: var(--secondary);
    text-decoration: none;
    padding: 20px;
}

footer a:hover {
    color: #999999;
}

.page-navigation {
    height: 50px;
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}

.page-navigation a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 1.5rem;
}

.page-navigation a:hover {
    border-bottom: 2px var(--secondary) solid;
}

.page-navigation a:visited {
    color: var(--secondary);
}

/* contact page styles */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 666px;
    margin: 30px auto 0 auto;
    padding: 15px;
    align-items: center;
}

input[type="text"], input[type="email"], textarea {
    margin: 5px 0;
    width: 100%;
}

input[type="submit"], input[type="reset"] {
    width: 33%;
    margin: 5px 0;
    border: none;
    border-radius: 15px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: var(--secondary);
    cursor: pointer;
}


/* input {
    margin-top: 10px;
} */

/* eq page stylings */
.what-is-eq {
    background-color: var(--primary);
    color: white;
    height: 500px;
}

.eq-heading {
    text-align: center;
    padding-top: 20px;
}

.eq-info p {
    width: 500px;
    margin-right: 20px;
    text-align: justify;
    line-height: 2.2em;
}

.eq-info img {
    margin-left: 20px;
    width: 500px;
    border-radius: 30px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.how-to-use-eq {
    background-color: var(--secondary);
    color: black;
    line-height: 2.2em;
}

.how-to-use-eq h2 {
    text-align: center;
    padding-top: 20px;
    text-shadow: none;
}

.how-to-use-eq p {
    width: 70%;
    margin: 20px auto;
    text-align: justify;
}

.how-to-use-eq ul {
    width: 70%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: justify;
}

.how-to-use-eq li {
    list-style-type: circle;
}

.video-section {
    text-align: center;
}

.video-section {
    padding-top: 20px;
}

.video-section iframe {
    padding-top: 20px;
    border: none;
}

/* compression page stylings */
.what-is-compression {
    background-color: var(--primary);
    color: white;
    height: 500px;
}

.compression-heading {
    text-align: center;
    padding-top: 20px;
}

.compression-info p {
    width: 500px;
    margin-right: 20px;
    text-align: justify;
    line-height: 2.2em;
}

.compression-info img {
    margin-left: 20px;
    width: 500px;
    border-radius: 30px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.how-to-use-compression {
    background-color: var(--secondary);
    color: black;
    line-height: 2.2em;
}

.how-to-use-compression h2 {
    text-align: center;
    padding-top: 20px;
    text-shadow: none;
}

.how-to-use-compression p {
    width: 70%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: justify;
}

.how-to-use-compression ul {
    width: 70%;
    padding-top: 20px;
    margin: 0 auto;
    text-align: justify;
}

.how-to-use-compression li {
    list-style-type: circle;
}


/* balance page stylings */
.what-is-balance {
    background-color: var(--primary);
    color: white;
    height: 500px;
}

.balance-heading {
    text-align: center;
    padding-top: 20px;
}

.balance-info p {
    width: 500px;
    margin-right: 20px;
    text-align: justify;
    line-height: 2.2em;
    max-height: 350px;
}

.balance-info img {
    margin-left: 20px;
    width: 500px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.how-to-use-balance {
    height: 100%;
    background-color: var(--secondary);
    color: black;
    line-height: 2.2em;
}

.how-to-use-balance h2 {
    text-align: center;
    padding-top: 20px;
    text-shadow: none;
}

.how-to-use-balance p {
    width: 70%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: justify;
}

@media screen and (max-width: 1130px){

    /* home page media queries */
    .what-is-mixing {
        height: 800px;
        text-align: center;
    }

    .what-is-mixing p {
        width: 70%;
        margin: 0 auto 40px auto;
    }
    
    .flex-container-two {
        display: block;
    }

    .btn {
        min-width: 260px;
        height: 260px;
    }

    .what-is-balance {
        height: 100%;
        text-align: center;
    }

    .what-is-balance p {
        width: 70%;
        margin: 0 auto 40px auto;
    }

    .what-is-eq {
        height: 100%;
        text-align: center;
    }

    .what-is-eq p {
        width: 70%;
        margin: 0 auto 0 auto;
    }

    .what-is-compression {
        height: 100%;
        text-align: center;
    }

    .what-is-compression p {
        width: 70%;
        margin: 0 auto 40px auto;
    }
}

@media screen and (max-width: 800px) {
    header {
        position: relative;
    }

    .flex-container {
        flex-direction: column;
    }

    nav li {
        padding: 0 5px;
    }

    .what-is-mixing {
        height: 100%;
        text-align: center;
    }

    .flex-container-two img {
        display: none;
    }

    .btn {
        font-size: 1.5rem;
        width: 260px;
        height: 260px;
    }

    .contact-form {
        width: 80%;
    }

    .video-section iframe {
        width: 90%;
    }

    .what-is-balance {
        height: 100%;
        text-align: center;
    }

    .how-to-use-balance {
        height: 100%;
    }

    .what-is-eq {
        height: 100%;
        text-align: center;
    }

    .how-to-use-eq {
        height: 100%;
    }
    
    .how-to-use-eq ul {
        text-align: left;
    }

    .what-is-compression {
        height: 100%;
        text-align: center;
    }

    .how-to-use-compression {
        height: 100%;
    }
    
    .how-to-use-compression ul {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {
    .learn--buttons{
        display: block;
    }

    .btn {
        margin: 20px;
    }
}